@use "../mixins/font" as *;

.achievement {
  display: flex;
  gap: 20px;
  align-items: center;

  &__image {
    height: 80px;
    width: 80px;
  }

  &__right-side {
    max-width: 139px;
  }

  &__number {
    @include font(48px, 59px, 600);
  }

  &__text {
    @include font(18px, 22px, 600);
  }
}