@use "../mixins/font" as *;
@use "../variables" as *;

.skill {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  background: #e2e2e2;

  @media (max-width: 991px) {
    width: 300px;
    height: 300px;
  }

  &__guitar {
    padding-top: 25px;
  }

  &__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
  }

  &__text {
    @include font(36px, 44px, 600);
    text-align-last: center;
    transform: rotate(90deg);

    @media (max-width: 991px) {
      font-size: 30px;
    }
  }

  &_orange {
    background: $color_orange;
  }

  &_blue {
    background: $color_blue;
  }
}
