@use "../mixins/font" as *;
@use "../variables" as *;

.skill {
  min-width: 360px;
  min-height: 360px;
  border-radius: 10px;
  display: flex;
  background: #e2e2e2;

  &__guitar {
    padding-top: 25px;
  }

  &__text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
  }

  &__text {
    @include font(36px, 44px, 600);
    text-align-last: center;
    transform: rotate(90deg);
  }

  &_orange {
    background: $color_orange;
  }

  &_blue {
    background: $color_blue;
  }
}
