@use "../variables" as *;
@use "../mixins/font" as *;

.description {
  background-color: $color_grey;
  min-height: 640px;

  &__container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 1199px) {
      gap: 0;
    }
  }

  &__left-side {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1199px) {
      padding-top: 50px;
    }
  }

  &__box {
    position: relative;
    min-height: 319px;
    display: flex;
    align-items: center;

    max-height: 319px;
  }

  &__title {
    margin-left: 155px;
    position: relative;
    z-index: 10;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 97px;
  }

  &__ball {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__right-side {
    padding: 46px 0;
    display: flex;
    justify-content: center;
    max-width: 538px;
  }

  &__box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__second-title {
    margin-bottom: 20px;

    &:before {
      width: 70px;
    }

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  &__text {
    @include font(18px, 22px);
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      text-align: center;
    }
  }

  &__buttons {
    @media (max-width: 1199px) {
      justify-content: center;
    }
  }
}
