.footer {
  position: relative;
  min-height: 272px;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__box {
    max-width: 557px;
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
