@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: $color_black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

section, footer {
  padding: 0 10px;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 960px;
  }
  @media (max-width: 991px) {
    width: 720px;
  }
  @media (max-width: 767px) {
    width: 540px;
  }
  @media (max-width: 575px) {
    width: 100%;
  }
}
